/* common styles  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  background: #f15b22;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
}

/* header section styles  */

header {
  max-width: 1600px;
  background: #f1f1f1;
  padding: 20px;
}
.header-container {
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.header-img {
  width: 500px;
}

.header-content {
  text-align: right;
  padding-top: 50px;
}
.header-title {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.header-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

/* failure section styles  */
#failure {
  background: #fff;
  padding: 100px;
}
.failure-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.failure-img {
  width: 451px;
}

.failure-content {
  padding: 200px 50px 50px 50px;
}

.failure-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

.failure-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.failure-items {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
}

/* plans section styles  */

#plans {
  background: #fff;
  padding: 100px 80px;
}

.plans-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.plan-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  text-align: center;
}

.plan-img {
  margin-bottom: 20px;
}
.plan-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.plan-description {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

/* contact section styles  */

#contact {
  background: linear-gradient(
      45deg,
      rgb(237, 91, 35, 0.9),
      rgb(166, 169, 123, 0.15)
    ),
    url("../images/watch.png") no-repeat;

  margin: 0px 100px 100px 100px;
}

.contact-container {
  padding: 50px 0 50px 50px;
}
.contact-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 459px;
}

.btn-contact {
  background: #fff;
  color: #f15b22;
}
/* footer section styles  */

#section-footer {
  background: #151414;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 50px 100px ;
  text-align: start;
  margin: 0px 100px 0px 100px;
}

.future-title {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 16px;
}

.future-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.furure-email {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.future-phone {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.subscribe-title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.subscribe-email {
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-bottom: 22px;
  width: 325px;
  height: 64px;
  padding: 0 0 0 10px;
}

.btn-subscribe {
  background: #fff;
  color: #f15b22;
}
